.title{
  text-align: center;
}

.content{
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 5%;
  width: 90%;
}

.texts{
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 8%;
}

.titles{
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
}

hr{
  width: 100%;
}

p{text-align: justify;}

