.label {
    color: var(--color-tertiary);
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 19px;
  }
  
  .input {
    margin-right: 10px;
    transform: scale(1.5);
  }

  .content{
    width: 90%;
  }
  

  