.forca-game {
    text-align: center;
  
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .phrase-label {
      text-align: center;
      font-size: 18px;
    }

    .noButton{
        background-color: rgb(255, 80, 80);
        color: #fff;
        border: none;
        border-radius: 5px;
        margin: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        width: 6rem;
    }
 

    .yesButton{
        background-color: rgb(51, 172, 29);
        color: #fff;
        border: none;
        border-radius: 5px;
        margin: 5px;
        width: 6rem;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
  
    .phrase {
      font-size: 36px;
      margin: 10px 0;
      text-align: center;

    }
  
    .attempts-left {
      text-align: center;
      font-size: 18px;
    }
  
    .alphabet-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
  
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  