.forca-game {
    text-align: center;
  
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .phrase-label {
      font-size: 18px;
    }
  
    .phrase {
      font-size: 24px;
      margin: 10px 0;
    }
  
    .attempts-left {
      font-size: 18px;
    }
  
    .alphabet-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
  
      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  